openai
azure-ai-inference
azure-core
azure-identity
google-genai
anthropic
selenium==4.15.2
pillow==10.1.0
httpx
numpy
webdriver-manager
playwright
python-dotenv
tqdm
boto3
SpeechRecognition 
pydub
undetected-chromedriver
selenium-stealth
huggingface_hub
datasets
